<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</p>
	
	<!--As user functionality is added, the author field will be replaced with checking who's logged in.
		However it's here currently for testing purposes.-->
	<p>
		<%= f.label :author %></br>
		<%= f.text_field :author %>
	</p>
		
	<p>
		<%= f.label :content %></br>
		<%= f.text_area :content %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>